:root {
  --dark-grey: #2c2c2c;
  --medium-grey: #4b4b4b;
  --primary-font-color: whitesmoke;
  --logo-shadow-color: rgb(17, 17, 17);
  --primary-shadow-color: black;
  --board-line-width: 0.1em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  background-color: var(--dark-grey);
  color: var(--primary-font-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#logo {
  width: 15em;
  height: 15em;
  border-radius: 2%;
  box-shadow: 1px 1px 4px var(--logo-shadow-color);
}

#input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-details {
  padding-bottom: 1em;
  border: 0;
}

.player-details:last-of-type {
  padding-bottom: 0;
}

.name-input,
.symbol-input {
  font-size: 1.5em;
  background-color: var(--medium-grey);
  color: var(--primary-font-color);
  border: 0;
  border-radius: 0.2em;
  padding: 0.2em;
  box-shadow: 1px 1px 2px var(--primary-shadow-color);
}

.name-input {
  margin-right: 1em;
}

#user-options {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5em;
  justify-content: space-evenly;
  margin-top: 2em;
  margin-bottom: 1em;
}

#start-game,
#add-player,
#remove-player,
#restart-game,
#main-menu {
  padding: 0.2em 0.3em;
  border: 0;
  border-radius: 0.4em;
  font-size: 2em;
  letter-spacing: 0.05em;
  color: var(--primary-font-color);
  background-color: var(--medium-grey);
  box-shadow: 2px 2px 2px var(--primary-shadow-color);
}

#add-player,
#remove-player {
  font-size: 1.5em;
}

#start-game:active,
#add-player:active,
#remove-player:active,
#restart-game:active,
#main-menu:active {
  transform: translate(2px, 2px);
  box-shadow: 0.5px 0.5px 1px var(--primary-shadow-color);
}

#board-container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#board {
  display: flex;
  flex-direction: column;
  background-color: var(--medium-grey);
}

.board-row {
  padding-bottom: var(--board-line-width);
  display: flex;
  gap: var(--board-line-width);
}

.board-row:last-of-type {
  padding: 0;
}

.board-cell {
  width: 2em;
  height: 2em;
  border: 0;
  background-color: var(--dark-grey);
  font-size: 2em;
  color: white;
  text-shadow: 0.5px 0.5px 1px var(--primary-shadow-color);
}

.board-cell-hover:hover {
  background-color: var(--medium-grey);
}

#menu-container {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}

#restart-game {
  margin-bottom: 0.7em;
}

@media only screen and (max-width: 425px) {
  #logo {
    width: 12em;
    height: 12em;
  }
  .name-input {
    width: 80%;
    margin-right: 0.2em;
  }
}
