:root {
  --dark-grey: #2c2c2c;
  --medium-grey: #4b4b4b;
  --primary-font-color: whitesmoke;
  --logo-shadow-color: rgb(17, 17, 17);
  --primary-shadow-color: black;
  --board-line-width: 0.1em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: var(--dark-grey);
  /* background-color: darkcyan; */
  color: var(--primary-font-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  /* background-color: blueviolet; */
  min-height: 100vh;
  /* padding: 10%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
}

#logo {
  width: min(30vw, 30vh);
  aspect-ratio: 1;
  /* margin: auto; */
  border-radius: 2%;
  box-shadow: 1px 1px 4px var(--logo-shadow-color);
}

#input-form {
  /* background-color: red; */
  /* outline: 1px solid red; */
  /* height: 80%; */
  width: 40%;
  /* width: 70%; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* display: flex;
  flex-direction: column; */
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}

#input-form p {
  font-size: 2.3em;
  margin-bottom: 0.7em;
  text-decoration: underline;
}

#game-mode-menu,
#players-menu {
  margin-bottom: 2.5em;
}

#game-mode-options {
  display: flex;
  justify-content: space-between;
}

/* #game-mode-options */
input[type="button"] {
  /* outline: 3px solid green; */
  /* width: fit-content; */
  padding: 0.2em 0.3em;
  /* border: 0; */
  border-radius: 0.4em;
  font-size: 1.7em;
  letter-spacing: 0.05em;
  color: var(--primary-font-color);
  background-color: var(--medium-grey);
  box-shadow: 2px 2px 2px var(--primary-shadow-color);
}

input[type="button"]:active {
  transform: translate(0.5px, 0.5px);
  box-shadow: 0.5px 0.5px 1px var(--primary-shadow-color);
}

/* #game-mode-options input[type="button"]:first-of-type {
  border: 2px solid var(--primary-font-color);
} */

.mode-selected {
  border: 2px solid var(--primary-font-color);
}

.player-details {
  /* width: 100%; */
  padding-bottom: 1em;
  border: 0;
  display: flex;
  justify-content: space-between;
}

.name-input,
.symbol-input {
  font-size: 1.3em;
  background-color: var(--medium-grey);
  color: var(--primary-font-color);
  border: 0;
  border-radius: 0.2em;
  padding: 0.2em;
  box-shadow: 1px 1px 2px var(--primary-shadow-color);
}

.name-input {
  width: 80%;
  max-width: 400px;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
}

#add-player,
#remove-player {
  /* border-radius: 50%; */
  width: 1.8em;
}
